services:
    nginx:
        container_name: socnet-nginx
        image: nginx:1.28.0-alpine
        working_dir: /var/www/app
        depends_on:
            - php
            - prometheus
        ports:
            - 127.0.0.1:8089:80
        volumes:
            - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
            - .:/var/www/app
        networks:
            - app_network

    php:
        container_name: socnet-php
        build: ./docker/php/
        working_dir: /var/www/app
        depends_on:
            - mariadb
            - rabbitmq
            - zabbix-server
        environment:
            TIMEZONE: Europe/Moscow
            COMPOSER_MEMORY_LIMIT: -1
        volumes:
            - .:/var/www/app
            - /var/run/docker.sock:/var/run/docker.sock:ro
        networks:
            - app_network

    websocket:
        container_name: socnet-websocket
        build: ./docker/websocket/
        working_dir: /var/www/app
        depends_on:
            - php
            - mariadb
            - rabbitmq
        ports:
            - 127.0.0.1:8090:8090
        environment:
            - WEBSOCKET_PORT=8090
        volumes:
            - .:/var/www/app
        networks:
            - app_network

    mariadb:
        container_name: socnet-db
        image: mariadb:11.7.2
        restart: always
        env_file:
            - ./.env
            - ./.env.local
        ports:
            - 127.0.0.1:3309:3306
        volumes:
            - ./var/lib/mysql-data:/var/lib/mysql
        networks:
            - app_network

    redis:
        container_name: socnet-redis
        image: redis:7.4.3-alpine
        restart: unless-stopped
        ports:
            - 127.0.0.1:6679:6379
        volumes:
            - .:/var/www/app
        networks:
            - app_network

    rabbitmq:
        container_name: socnet-rabbitmq
        image: rabbitmq:3.9.15-management
        restart: always
        ports:
            - 127.0.0.1:5772:5672
            - 127.0.0.1:15772:15672
        env_file:
            - ./.env
            - ./.env.local
        volumes:
            - ./var/lib/rabbitmq_data:/var/lib/rabbitmq
        networks:
            - app_network

    prometheus:
        container_name: socnet-prometheus
        image: prom/prometheus:latest
        ports:
            - 127.0.0.1:9190:9090
        volumes:
            - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
        command:
            - '--config.file=/etc/prometheus/prometheus.yml'
            - '--storage.tsdb.path=/prometheus'
            - '--web.console.libraries=/etc/prometheus/console_libraries'
            - '--web.console.templates=/etc/prometheus/consoles'
            - '--web.enable-lifecycle'
        networks:
            - app_network

    grafana:
        container_name: socnet-grafana
        image: grafana/grafana:latest
        ports:
            - 127.0.0.1:3100:3000
        environment:
            - GF_SECURITY_ADMIN_PASSWORD=admin
            - GF_INSTALL_PLUGINS=
            - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
            - GF_FEATURE_TOGGLES_ENABLE=
            - GF_LOG_LEVEL=info
            - GF_SERVER_SERVE_FROM_SUB_PATH=false
            - GF_SERVER_ROOT_URL=http://127.0.0.1:3100
        volumes:
            - ./var/lib/grafana_data:/var/lib/grafana
            - ./docker/grafana/provisioning:/etc/grafana/provisioning
        networks:
            - app_network

    zabbix-server:
        image: zabbix/zabbix-server-mysql:alpine-6.4-latest
        container_name: zabbix-server
        restart: unless-stopped
        ports:
            - "10051:10051"
        environment:
            - DB_SERVER_HOST=zabbix-mysql
            - MYSQL_DATABASE=zabbix
            - MYSQL_USER=zabbix
            - MYSQL_PASSWORD=zabbix_password
            - MYSQL_ROOT_PASSWORD=root_password
        depends_on:
            - zabbix-mysql
        networks:
            - app_network

    zabbix-web:
        image: zabbix/zabbix-web-apache-mysql:alpine-6.4-latest
        container_name: zabbix-web
        restart: unless-stopped
        ports:
            - 127.0.0.1:580:8080
        environment:
            - ZBX_SERVER_HOST=zabbix-server
            - DB_SERVER_HOST=zabbix-mysql
            - MYSQL_DATABASE=zabbix
            - MYSQL_USER=zabbix
            - MYSQL_PASSWORD=zabbix_password
            - MYSQL_ROOT_PASSWORD=root_password
            - PHP_TZ=Europe/Moscow
        depends_on:
            - zabbix-mysql
            - zabbix-server
        networks:
            - app_network

    zabbix-mysql:
        image: mysql:8.0
        container_name: zabbix-mysql
        restart: unless-stopped
        environment:
            - MYSQL_DATABASE=zabbix
            - MYSQL_USER=zabbix
            - MYSQL_PASSWORD=zabbix_password
            - MYSQL_ROOT_PASSWORD=root_password
        command:
            - --character-set-server=utf8mb4
            - --collation-server=utf8mb4_unicode_ci
            - --default-authentication-plugin=mysql_native_password
        volumes:
            - ./var/lib/zabbix_mysql_data:/var/lib/mysql
            - ./var/lib/mysql-init:/docker-entrypoint-initdb.d
        networks:
            - app_network

    zabbix-agent2:
        image: zabbix/zabbix-agent2:latest
        container_name: zabbix-agent
        networks:
            - app_network
        environment:
            ZBX_HOSTNAME: "zabbix-agent2"
            ZBX_SERVER_HOST: "zabbix-server"
        volumes:
            - /etc/localtime:/etc/localtime:ro
        privileged: true
        restart: unless-stopped

    php-zabbix-agent:
        image: zabbix/zabbix-agent2:latest
        container_name: socnet-php-zabbix-agent
        depends_on:
            - zabbix-server
            - nginx
            - php
        networks:
            - app_network
        environment:
            ZBX_HOSTNAME: "socnet-php"
            ZBX_SERVER_HOST: "zabbix-server"
            ZBX_METADATA: "php"
            ZBX_ALLOWKEY: system.run[*]
        volumes:
            - ./docker/php/zabbix/zabbix_agent2.conf:/etc/zabbix/zabbix_agent2.d/custom.conf:ro
            - /var/run/docker.sock:/var/run/docker.sock:ro
        privileged: true
        user: "root"
        restart: unless-stopped

networks:
    app_network:
        driver: bridge